---
---
@import "variables";

%clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.page-content {

	padding-top: 10vh;

	@extend %clearfix;
	list-style: none;

	li{
		padding-left: 15px;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 20pt;
		font-family: 'Roboto Condensed', sans-serif;

		&:before, &:after {
			display: none;
		}
	}

	header {
		border-top: $leaf-color-dark $spacing-unit/4 solid;
		border-right: $leaf-color-dark $spacing-unit/4 solid;
		padding-top: $spacing-unit/2;
		padding-bottom: $spacing-unit/3;
		padding-right: $spacing-unit/2;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		align-items: center;

		h1 {
			font-size: 48pt;
		}

		h2 {
			font-size: 16pt;
		}
	}

	.main {
		width: 70%;
		float: left;
		border-right: $leaf-color-dark $spacing-unit/4 solid;
		padding-bottom: $spacing-unit;
		margin-bottom: 0;

		.inafew {
			margin-left: -$spacing-unit*2;
			border-left: $leaf-color-dark $spacing-unit/4 solid;
			padding-left: $spacing-unit/3;
			border-top: $leaf-color-dark $spacing-unit/4 solid;
			padding-top: $spacing-unit/3;
			padding-right: $spacing-unit/3;
		}

		.expor {
			border-top: $leaf-color-dark $spacing-unit/4 solid;
			padding-top: $spacing-unit/3;
			border-left: $leaf-color-dark $spacing-unit/4 solid;
			padding-left: $spacing-unit/3;
			padding-bottom: $spacing-unit/3;
			padding-right: $spacing-unit/3;
		}
		.achi {
			margin-left: $spacing-unit*2;
			border-top: $leaf-color-dark $spacing-unit/4 solid;
			padding-top: $spacing-unit/3;
			border-left: $leaf-color-dark $spacing-unit/4 solid;
			padding-left: $spacing-unit/3;
			padding-right: $spacing-unit/3;
		}
	}

	aside {
		border-top: $leaf-color-dark $spacing-unit/4 solid;
		padding-top: $spacing-unit/2;
		width: 30%;
		float: right;

		.edu {
			margin-right: -$spacing-unit*2;

			border-top: $leaf-color-dark $spacing-unit/4 solid;
			padding-top: $spacing-unit/3;
			border-right: $leaf-color-dark $spacing-unit/4 solid;
			padding-right: $spacing-unit/3;

			padding-left: $spacing-unit/2;
		}

		.ski {
			padding-left: $spacing-unit/2;
			padding-bottom: $spacing-unit/3;
		}
	}

	aside, .main {
		h2 {
			font-size: 36pt;
		}

		h3 {
			font-size: 20pt;
		}

		h4 {
			font-size: 16pt;
		}
	}

	.wrapper {
		padding-bottom: 0;
		border-bottom: $leaf-color-dark $spacing-unit/4 solid;
	}
}