<footer>
	<div class="wrapper">
		<div class="footer-right">
			<span>omeryagmurlu@gmail.com</span>
		</div>
		<div class="footer-left">
			<span><a href="https://github.com/omeryagmurlu">Github!</a></span>
			<span><a href="https://plus.google.com/u/0/114085562190201717345">Google Plus!</a></span>
		</div>
		<h2 class="site-icon">{{ site.icon }}</h2>
	</div>
</footer>
