<header>
	<div class="wrapper">
		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
		<nav>
			{% for my_page in site.pages %}
				{% if my_page.title %}
				<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
				{% endif %}
			{% endfor %}
		</nav>
	</div>
</header>
