/**
 * Reset some basic elements
 */
 *,*:before,*:after {
	box-sizing:border-box;
 }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}



/**
 * Basic styling
 */
html, body {
	height: 100%;
}

html {
	@include media-query($on-laptop) {
		font-size: 90%;
	}
}

body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	color: $text-color;
	background-color: $background-color;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, time,
%vertical-rhythm {
	margin-bottom: $spacing-unit / 2;
}

ul, ol, dl {
	margin-top: $spacing-unit;
	margin-bottom: $spacing-unit;
}

article, section {
	margin-bottom: $spacing-unit;
}


/**
 * Images
 */
img {
	max-width: 100%;
	vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
	display: block;
}

figcaption {
	font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
	margin-left: $spacing-unit;
}

li {
	> ul,
	> ol {
		 margin-bottom: 0;
	}
}

dl {
	dd {
		display: inline;
		margin: 0;
		&:after{
			display: block;
			content: '';
		}

		&:first-of-type {
			display:none;
		}
	}

	dt{
		display: inline-block;
		text-transform: capitalize;
		font-weight: bold;
		min-width: 100px;

		&:first-of-type {
			display:none;
		}
	}
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: $base-font-weight;
	font-family: $header-font;
}

h1, h2, h3 {
	.page-content & {
		&:before {
			content: "↬ ";
		}
	}
}

h4, h5, h6 {
	.page-content & {
		&:before {              // Olayı açıklayalım şimdi:
			content:"¤ ";       // h1, h2, h3 için   "↬ " before girecek,
		}                 		// h4, h5, h6 içinse "¤ " gircek.
	}
}

h1, h2 {
	font-size: $header-big;

	@include media-query($on-laptop) {
		font-size: $header-medium;
	}
}

h3, h4 {
	font-size: $header-medium;
}

h5, h6 {
	font-size: $header-small;
}




/**
 * Links
 */
h1,h2,h3,h4,h5,h6 {
	a, a:visited {
		color:inherit;
	}
}

a {
	text-decoration: none;
	color:$brand-color;

	&:visited {
		color: darken($brand-color, 25%);
	}

	&:hover {
		color: $text-color;
		text-decoration: underline;
	}
}


/**
 * Blockquotes
 */
blockquote {
	color: $grey-color-dark;
	border-left: 4px solid $grey-color-dark;
	padding-left: $spacing-unit / 2;
	font-size: 18px;
	letter-spacing: -1px;
	font-style: italic;

	> :last-child {
		margin-bottom: 0;
	}
}



/**
 * Code formatting
 */
pre,
code {
	font-size: 15px;
	border: 1px solid $grey-color-light;
	border-radius: 3px;
	background-color: #eef;
}

code {
	padding: 1px 5px;
}

pre {
	padding: 8px 12px;
	overflow-x: auto;

	> code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

/**
 * Wrapper
 */
.wrapper {
	position: relative;
	box-sizing: content-box;
	max-width: -webkit-calc(#{$page-width} - (#{$spacing-unit} * 2));
	max-width:         calc(#{$page-width} - (#{$spacing-unit} * 2));
	margin-right: auto;
	margin-left: auto;
	padding: $spacing-unit / 2 $spacing-unit;
	@extend %clearfix;

	@include media-query($on-laptop) {
		max-width: -webkit-calc(#{$page-width} - (#{$spacing-unit}));
		max-width:         calc(#{$page-width} - (#{$spacing-unit}));
		padding-right: $spacing-unit / 3;
		padding-left: $spacing-unit / 3;
	}
}

.page-content .wrapper {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));

	@include media-query($on-laptop) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
		max-width:         calc(#{$content-width} - (#{$spacing-unit}));
	}
}



/**
 * .yuzvh
 *
 */
.yuzvh {
	height: 100vh; //Javascript aslında bunu hallediyor ama eğer js disable ise diye
}



/**
 * Clearfix
 */
%clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}



/**
 * Site-Icon
 */
.site-icon {
	margin-top:-0.7em;
	margin-bottom:-0.5em;
}
