/**
 * Site header
 */
body > header {
	border-top: 7px solid $leaf-color-dark;
	position: fixed;
	width: 100%;
	z-index: 100;
	overflow: hidden;

	font-family: $header-font;

	transition: background-color .5s, transform .5s;
	background-color: transparent;

	.notAtTheBeginning &, &:hover, &.hover {
		background-color: $leaf-color;
	}

	.down & {
		transform: translateY(-100%);
	}

	.site-title {
		float: right;
		color: $leaf-color-dark;
		font-size: $bigger-font-size;
	}

	nav {
		float: left;
		font-size: 20px;
		padding: 3px 0;
		position: relative;

		a.page-link {
			color: $leaf-color-dark;

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}

	@include media-query($on-palm) {

		.wrapper:before { // Hamburger sign
			position: absolute;
			transition: opacity 1s .1s;
			font-size: $header-small;
			content:'\2261';
			color: $leaf-color-dark;
		}

		nav {
			max-height: 0;
			overflow: hidden;
			transition: max-height 1s;

			a.page-link {
				display:block;
				transition: opacity 1s;
				opacity: 0;
			}
		}

		&:hover, &.hover {

			.wrapper:before { 
				opacity: 0;
			}

			nav {
				max-height: 350px;
				transition: max-height 2s .1s;

				a.page-link {
					transition: opacity 1s .1s;
					opacity: 1;
				}
			}
		}
	}
}



/**
 * Site footer
 */
body > footer {
	position: relative;
	border-bottom: 17px solid $leaf-color-dark;
	border-top: 7px solid $leaf-color-dark;

	margin-top: $offset-unit;

	font-family: $header-font;
	font-size: $bigger-font-size;

	transition: background-color 1s;
	background-color: $leaf-color-dark;
	@extend %clearfix;

	* {
		transition: opacity 1s;
		opacity: 0;
	}

	span {
		display: block;
	}

	.reachedTheEnd & {
		background-color: $leaf-color;
	}

	.reachedTheEnd & * {
		opacity: 1;
	}

	.footer-left {
		text-align: left;
		float: left;
		max-width: 40vw;

		@include media-query($on-palm) {
			text-align: right;
			float: none;
			max-width: 100000px;
		}
	}

	.footer-right {
		text-align: right;
		float: right;
		max-width: 33vw;

		@include media-query($on-palm) {
			float: none;
			max-width: 100000px;
		}
	}

	.site-icon {
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -10%);

		@include media-query($on-palm) {
			top: 0.3em;
			left: 5%;
			transform: none;
		}
	}
}



/**
 * Page content
 */
.page-content {
	min-height: 100%; // JS fix atılmalı

	//Blog page
	.post-list {
		margin-left: 0;
		list-style: none;

		> li {
			margin-bottom: $spacing-unit;
		}
	}

	.post-meta {
		font-size: $small-font-size;
	}

	article > footer {
		@extend %clearfix;
		background-color: $leaf-color-dark;

		@include media-query ($on-palm) {
			display: none;
		}
	}

	.comments {
		
	}

	// -> Next - Prev
	%common-posts {
		display: block;
		padding:50px 0;
		font-size: $header-medium;

		@include media-query ($on-laptop) {
			font-size: $header-small;
			padding: 20px 0;
		}
	}

	.next-post {
		@extend %common-posts;
		float: right;

		&:before {
			text-align: right;
			font-size: 75%;
			display: block;
			content: "Sonraki Yazı";
		}
	}

	.prev-post {
		@extend %common-posts;
		float: left;

		&:before {
			text-align: left;
			font-size: 75%;
			display: block;
			content: "Önceki Yazı";
		}
	}

	.np-both {
	}

	.np-alone {
	}

	// Headers
	.header-image {
		background-size: cover;
		font-family: $header-font;
		position: relative;
		margin-bottom: $offset-unit;

		.wrapper {
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			max-width: unset;

			h1 {
				font-size: 6em;
				font-family: inherit;

				&:before {
					content: unset;
				}

				@include media-query($on-palm) {
					font-size: 3.5em;
				}		
			}
		}
	}

	.header-normal {
		padding-top: $offset-unit;
	}


}
