// Our variables
$base-font-family: 'Roboto Condensed', sans-serif;
$header-font:      'Itim', cursive;
$base-font-size:   1.2em;
$bigger-font-size: 1.3em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$offset-unit:      10vh;

$grey-color:       #DDE4DE;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$grey-darker-color:#818882;
$grey-darker-color-light: lighten($grey-darker-color, 40%);
$grey-darker-color-dark:  darken($grey-darker-color, 25%);

$leaf-color:       #C5CFCB;  // http://paletton.com/#uid=72D0u0k3KvR09We1rIA6Yrobbnf
$leaf-color-light: #EFF1F0;
$leaf-color-dark:  #96AAA3;

$leaf-darker-color: #739287;
$leaf-darker-color-dark: #517C6D;

$green-color:      #BAD4A9;
$green-color-light: lighten($green-color, 40%);
$green-color-dark:  darken($green-color, 25%);

$text-color:       $grey-darker-color-dark;     //#111;
$background-color: $leaf-color;
$brand-color:      #C5CFCB;

// Width of the content area
$page-width:       960px;
$content-width:    780px;

$on-palm:          600px;
$on-laptop:        800px;

$header-big:       3.1em;
$header-small:     1.5em;
$header-medium:    2em;

$site-icon:        ↭;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}