---
layout: page
title: Blog
permalink: /blog/
---

<p>
Burada benim her konudan yazdığım blogları bulabilirsiniz.
</p>

<ul class="post-list">
    {% for post in site.posts limit 4 %}
    <li>
    	<h4><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h4>
    	<p>
	    	<time>{{ post.date | date_to_string }}</time> {% if post.author %} • <a href="{% if post.author == 'omer' %} /hakkimda/ {% else %} /authors#{{ post.author }} {% endif %} " class="author">{{ site.authors[post.author].display_name }}</a> {% endif %}
	    </p>
	    <p>{{ post.content | strip_html | truncatewords:35}}</p>
	    <a href="{{ post.url }}">Devamı</a>
    </li>
    {% endfor %}
</ul>
