"---" comment
layout: default
title: My CV
permalink: /cv/
custom_css: /css/cv.css
---

<div class="wrapper">
	<header>
		<h1>ÖMER YAĞMURLU</h1>
		<h2>omeryagmurlu.github.io</h2>
		<h2>omeryagmurlu@gmail.com</h2>
		<h2>+(90) 507 98 99</h2>
		<h2>Beylikdüzü, İstanbul</h2>
		<h2>Turkey</h2>
	</header>
	<section class="main">
		<div class="inafew">
			<h2>In a few words..</h2>
			<p>
				I am a funny, creative person, I like studying and I improve myself in any field anytime I can. Also I code whenever I can.
			</p>
		</div>
		<div class="expor">
			<h2>Experience</h2>
				<h3>2015-present</h3>
					<h4>Founder of OllieJS project</h4>
						<li>github.com/omeryagmurlu/olliejs</li>
						<li>npmjs.com/package/olliejs</li>
					<h4>Blogger</h4>
						<span>I blog my experiences or the things I found interesting here: (http://omeryagmurlu.github.io/blog/)</span>
				<h3>2011-present</h3>
					<h4>On-Demand web designer for friends and family</h4>
						<li>Mustafa Yağmurlu (goo.gl/SErvRE)</li>
						<li>Sword Art Online Novels (goo.gl/pGwAfy), This was also my first work</li>
						<li>My own site (omeryagmurlu.github.io)</li>
				<h3>2010-present</h3>
					<h4>Owner of the most pageranked Harry Potter E-Book site in the world.</h4>
						<li>harrypotterhikayeci.com.tr/</li>
		</div>
		<div class="achi">
			<h2>Achivements</h2>
				<li>2010 Imato 7th Place</li>
				<li>2014 TEOG first 0.03%</li>
				<li>2014 entered IEL</li>
		</div>
	</section>
	<aside>
		<div class="ski">
			<h2>Skills</h2>
			<h3>Pro</h3>
				<li>Javascript</li>
			<h3>Advanced</h3>
				<li>DOM</li>
				<li>CSS3</li>
				<li>HTML5</li>
			<h3>Intermediate</h3>
				<li>C</li>
				<li>Lua</li>
				<li>Phyton</li>
				<li>Photoshop</li>
				<li>git/github/travis</li>
			<h3>Beginner</h3>
				<li>Java</li>
				<li>OpenSCAD</li>
				<li>Game Development</li>
		</div>
		<div class="edu">
			<h2>Education</h2>
				<li><strong>İstanbul Erkek Lisesi</strong></li>
				<li>Fatih College</li>
			<h3>Further Education</h3>
				<li>CS50X - Harvard University</li>
		</div>
	</aside>
</div>
