"---" comment
layout: page
title: Yazar dostlarım
permalink: /authors/
---

<p>Bu siteye makaleler yazıp gönderen bazı arkadaşlarım ve aile üyelerim:</p>

{% for yazar in site.authors %}
	{% if yazar[1].name != 'Ömer Yağmurlu' %}
		<a name="{{ yazar[0] }}"></a>
		<h5>{{ yazar[1].name }}</h5>
		<dl>
		{% for ozellik in yazar %}
			{% for hash in ozellik %}
				{% if hash[0] != 'display_name' and hash[0] != 'name' %}
				<dt>{{ hash[0] }}</dt>
				<dd> {% if hash[0] == 'web' %}<a href="http://{{ hash[1] }}">{% endif %} {{ hash[1] }} {% if hash[0] == 'web' %}</a>{% endif %} </dd>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</dl>
	{% endif %}
{% endfor %}