<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="page-content">

    	{{ content }}
    	
    </section>

    {% include footer.html %}

  </body>

</html>
