---
layout: default
---
<header class="{% if page.image %}header-image yuzvh{% else %}header-normal{% endif %}" {% if page.image %}style="background-image: {{ site.image-gradient }}, {{ page.image }}"{% endif %}>
	<div class="wrapper">
		<h1>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</h1>
	</div>
</header>
<div class="wrapper">
	{{ content }}
</div>