---
layout: default
---
{% assign author = site.authors[page.author] %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="{% if page.image %}header-image yuzvh{% else %}header-normal{% endif %}" {% if page.image %}style="background-image: {{ site.image-gradient }}, {{ page.image }}"{% endif %}>
		<div class="wrapper">
			<h1 itemprop="name headline">{{ page.title }}</h1>
			<p class="post-meta">
				<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.name }}</span></span>{% endif %}
			</p>
		</div>
	</header>

	<div class="wrapper">
		{{ content }}
	</div>

	<footer>
		<div class="wrapper">
			{% if page.next.url %}
				{% if page.previous.url %}
					<a class="next-post np-both" href="{{page.next.url}}">{{page.next.title}}</a>
					<a class="prev-post np-both" href="{{page.previous.url}}">{{page.previous.title}}</a>
				{% else %}
					<a class="next-post np-alone" href="{{page.next.url}}">{{page.next.title}}</a>
				{% endif %}
			{% elsif page.previous.url %}
				<a class="prev-post np-alone" href="{{page.previous.url}}">{{page.previous.title}}</a>
			{% endif %}
		</div>
	</footer>

	<div class="comments">
		<div class="wrapper">
			<h3>Yorumlar</h3>
			<div id="disqus_thread"></div>
			<script>
					var disqus_config = function () {
							this.page.url = "omeryagmurlu.github.io" + {{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
							this.page.identifier = {{ page.url }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					};

					(function() {  // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');
							
							s.src = '//omeryagmurlu.disqus.com/embed.js';
							
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
					})();
			</script>
		</div>
	</div>

</article>